<div class="product-tab-area">
    <div class="container">
        <div class="row">
            <div class="tab-panes">

                <div class="tab-content ">
                    <div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="card product-items">
                                    <div class="product-item productimg">
                                        <img class="card-img-top" src="assets/burger.jpg">
                                    </div>
                                    <div class="card-body">
                                        <div class="product-info">
                                            <div class="product-ratting">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                                    <li class="review-total"> <a href="#"> (24)</a></li>
                                                </ul>
                                            </div>
                                            <h2 class="product-title"><a href="#">Carrots Group Scal</a></h2>
                                            <div class="product-price">
                                                <span>$32.00</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card product-items">
                                    <div class="product-item productimg">
                                        <img class="card-img-top" src="assets/pizza.jpg">
                                    </div>
                                    <div class="card-body">
                                        <div class="product-info">
                                            <div class="product-ratting">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                                    <li class="review-total"> <a href="#"> (24)</a></li>
                                                </ul>
                                            </div>
                                            <h2 class="product-title"><a href="#">Red Hot Tomato</a></h2>
                                            <div class="product-price">
                                                <span>$25.00</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card product-items">
                                    <div class="product-item productimg">
                                        <img class="card-img-top" src="assets/fullmeals.jpg">
                                    </div>
                                    <div class="card-body">
                                        <div class="product-info">
                                            <div class="product-ratting">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                                    <li class="review-total"> <a href="#"> (24)</a></li>
                                                </ul>
                                            </div>
                                            <h2 class="product-title"><a href="#">Orange Fresh Juice</a></h2>
                                            <div class="product-price">
                                                <span>$75.00</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card product-items">
                                    <div class="product-item productimg">
                                        <img class="card-img-top" src="assets/pizza.jpg">
                                    </div>
                                    <div class="card-body">
                                        <div class="product-info">
                                            <div class="product-ratting">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                                    <li class="review-total"> <a href="#"> (24)</a></li>
                                                </ul>
                                            </div>
                                            <h2 class="product-title"><a href="#">Poltry Farm Meat</a></h2>
                                            <div class="product-price">
                                                <span>$78.00</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>