<div>
    <app-restaurantheader></app-restaurantheader>
</div>
<div class="card-title">
    <div class="text fs-4 mt-4 mb-3 ms-4">Restaurant Home</div>
    <div class="main-wrapper">
        <div class="container d-flex justify-content-around align-items-center">
            <div class="img">
                <img class="imgclass" src="./assets/Sunstar.jpg">
            </div>
            <div class="img">
                <img class="imgclass" src="./assets/Tajbanjara.jpg">
            </div>
            <div class="img">
                <img class="imgclass" src="./assets/IndianRestaurant.jpg">
            </div>
            <div class="img">
                <img class="imgclass" src="./assets/Bahar.jpg">
            </div>
        </div>
    </div>
</div>