.optionArrow {
  color: darkcyan;
}

.dropdown {
  width: 40%;
  align-items: left;
}

.card {
  border: 2px solid darkcyan;
}

.add-to-cart {
  margin-top: 5px;
  background-color: #80b500;
  color: #ffffff;
  // border: 1px solid cyan;
  border-radius: 4px;
  outline: none;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
}

.text {
  color: darkcyan
}

.home-container {
  margin-top: 40px;
  width: 100%;
}

.slider-background {
  background-color: #171a29;
}

.slider {
  position: relative;
  margin: 0 auto;
  height: 340px;
  padding: 0 20px;
  contain: content;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .img-box {
    transition: 0.5s;
    cursor: pointer;
    margin-right: 30px;
  }

  .img-box:hover {
    transform: scale(1.05);
  }
}

.title {
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 0 30px;
}

.card-img-top {
  width: 270px;
  height: 150px;
}